#services{
    overflow: hidden;
    max-width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}
.serviceheadtitle{
    font-size: 2.7rem;
    margin-top: 5rem;
    font-family: serif;
    cursor: pointer;
}
.serviceheadtitle:hover{
    text-decoration: underline;
}
.servicedesc{
    font-size: 1.2rem;
    margin-top: 1.8rem;
}
.servicebars{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.servicebar{
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    background-color: rgba(50,50,50);
    width: 50vw;
    padding: 1.3rem 0rem;
    border-radius: 15px;
    cursor: pointer;
}
.servicebar:hover{
    border: 2px solid #fff;
}
.servicebar ul{
    list-style: none;
}
.servicetext h2{
    margin-bottom: 0.5rem;
    font-family: serif;
}
.servicetext {
    margin-bottom: 0.4rem;
}
.image{
    height: 6rem;
    width: 6rem;
    margin-left: 2.8rem;
}
@media screen and (max-width:750px) {
    .servicebar{
        overflow-x: hidden;
        max-width: 100vw;
        max-width: 65rem;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
    }
    .serviceheadtitle{
        font-size: 2rem;
        margin-top: 6rem;
    }
    .image{
        height: 6rem;
        width: 6rem;
        margin-left: 2.8rem;
    }
    .servicedesc{
        font-size: 0.6rem;
        margin-top: 1rem;
    }
    .servicebars{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .servicebar{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* text-align: left; */
        background-color: rgba(50,50,50);
        width: 50vw;
        padding: 1.3rem 0rem;
        border-radius: 15px;
        cursor: pointer;
    }
    .servicebar:hover{
        border: 2px solid #fff;
    }
    .servicebar ul{
        list-style: none;
    }
    .servicetext h2{
        margin-bottom: 0.2rem;
        font-family: serif;
    }
    .servicetext {
        margin-bottom: 0.2rem;
    }
}
@media screen and (max-width:580px) {
    .servicebars{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0rem 2rem;
    }
    .servicetext h2{
    font-size: 1rem;
    margin-bottom: 0.2rem;
    font-family: serif;
}
.servicebar ul{
    font-size: 0.6rem;
    list-style: none;
}
.servicedesc{
    font-size: 1.5rem;
    margin-top: 1.8rem;
    padding: 0px 10px ;
}
.serviceheadtitle{
    font-size: 2.9rem;
    margin-top: 0rem;
    font-family: serif;
    cursor: pointer;
}
}
