*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: 	rgb(49, 58, 64);
    overflow: hidden;
    overflow-y: scroll;
    color: #fff;
    font-family: sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
    scrollbar-width: thin;
    scrollbar-color: rebeccapurple green;
}
html {
  scroll-behavior: smooth;
}